body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  align-items: center;
}
header{
  display: flex;
  align-items: center;
  height: 70px;
  background-color: orange;
  color:black;
  padding: 20px;
}

header img{
  height: 100%;
  margin-right: 10px;
  color: white;
}

header h1{
  font-size: 35px;
  margin-right: auto;
}
header h2{
  font-size: 25px;
}

.form{
  padding: 40px;
  display: grid;
  grid-template: 40px 40px/ 1fr 1fr;
  gap: 17px;
  align-items: center;
}

.form input{
  height: 50px;
  border-radius: 0.2em;
  border: 2px solid black;
  font-size: 21px;
  text-indent: 5px;
}

input:focus{
  border: orange;
}

.form button{
  height: 55px;
  grid-column: 1/ -1;
  background-color: orange;
  color: black;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 20px;
}